<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css')}}">
</head>
<body>
    <header>
        <div class="logo">{{user_name}}</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home.home_page')}}">Home</a></li>
                <li><a href="{{ url_for('profiles.profile_page')}}">Profile</a></li>
                <li><a href="{{ url_for('messages.message_page')}}">Messages</a></li>
                <li><a href="{{url_for('login.login_page')}}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="upper-container">
        <form action="{{ url_for('home.post') }}" method="POST" class="new-post">
            <textarea placeholder="What's on your mind?" name="post_content" class="textarea"></textarea>
            <button type="submit" class="post-btn">Post</button>
</form>

            <div class="trending">
                <h3>Trending Topics</h3>
                <ul>
                    <li><a href="{{ url_for('home.ai_updates') }}">#TechNews</a></li>
                    <li><a href="{{ url_for('home.climate_change_news') }}">#AIUpdates</a></li>
                    <li><a href="{{ url_for('home.tech_news') }}">#ClimateAction</a></li>
                </ul>
            </div>
        </div>
    <div class="container">
        <main class="feed">
               {%for post in post_content%}
            <div class="post">
                <div class="post-header">
                    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Profile Picture" class="avatar-img">
                    <div class="post-info">
                        <h3>{{post.name}}</h3>
                        <span>{{post.timestamp}}</span>
                    </div>

                </div>
                <p>{{post.content}}</p>
            </div>
            {% endfor %}
        </main>
        <aside class="right-section">
        </aside>
    </div>
</body>
</html>
