<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/message.css')}}">
</head>
<body>
    <header>
        <div class="logo">Messages</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home.home_page')}}">Home</a></li>
                <li><a href="{{ url_for('profiles.profile_page')}}">Profile</a></li>
                <li><a href="{{ url_for('messages.message_page')}}">Messages</a></li>
                <li><a href="{{url_for('login.login_page')}}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main class="messages">
            <div class="scroll-container">
            <div class = 'message-head'>
            <h1>Messages</h1>
            {%for msg in data%}
            <div class="message">
                <div class="message-header">
                    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Profile Picture" class="avatar-img">
                    <div class="message-info">
                        <h3>{{msg.name}}</h3>
                        <span>{{msg.timestamp}}</span>
                    </div>
                </div>
                <p>{{msg.message}}</p>
            </div>
            {% endfor %}
            </div>
                </div>
            <div class="compose-message">
                <form action="{{url_for('messages.add_message')}}" method="POST">
                <textarea placeholder="Write a new message..." name="message"></textarea>
                <button class="send-btn" type="submit">Reply</button>
            </form>
            </div>
        </main>

        <aside class="right-section">
            <!-- Optional: Right side content like friend suggestions, trending topics, etc. -->
        </aside>
    </div>
</body>
</html>
